Options -Indexes

<IfModule mod_headers.c>
    Header set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
    Header set Referrer-Policy "no-referrer"
    Header set Permissions-Policy "camera=(), microphone=(), geolocation=()"
    Header set X-Permitted-Cross-Domain-Policies "none"
    Header set Content-Security-Policy "default-src 'self'; base-uri 'none'; form-action 'self'; frame-ancestors 'none'; object-src 'none'; script-src 'self'; style-src 'self'"
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 10240M
    php_value post_max_size 10240M
    php_value max_execution_time 7200
    php_value max_input_time 7200
    php_value memory_limit 512M
</IfModule>

DirectoryIndex index.php
